.myPostsBlock{
    padding: 10px;
}
.writePost{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    margin-bottom: 20px;
}
.writePost button{
    margin-top: 5px;
    max-width: 80px;
    margin-left: auto;
}