.nav{
  grid-area: n;
  display: flex;
  flex-direction: column;
  background-color: #e0ebf0;
}
.item{
  color:gray;
  margin-top: 5px;
  margin-left: 10px;
  letter-spacing: normal;
}
.active{
  color: black;
  font-weight: 700;
  margin-left: 10px;
  letter-spacing: normal;
}
.item:last-child{
    margin-top: 15px;
}