.item {
  margin-bottom: 25px;
  border-radius: 10px;
  padding: 10px;
  overflow-wrap: break-word;
  word-break: break-all;
  display: flex; /* добавлено */
  background-color: #e0ebf0;
}

.item:last-child {
  margin-bottom: 0px;
}

.item img {
  max-width: 40px;
  border-radius: 50%;
}

.postInfo {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.postInfo img {
  margin-right: 10px;
}

.likeCount {
  min-width: 60px;
  margin-left: auto;
  margin-top: auto;
  text-align: right;
}
