a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: inherit;
}


.wrapper {
  width: 100%;
}
.container {
  max-width: 1310px;
  padding: 0px 15px;
  margin: 0 auto;
}
.app__inner {
  display: grid;
  margin: 0 auto;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
  
}
.app__inner-content {
  grid-area: c;
  background-color: rgba(199, 255, 220, 0.863);
}
