.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dialogsItems {
  padding: 10px;
}
.name { 
  color: grey;
}
.dialog {
  margin-bottom: 10px;
}
.messages {
  padding: 10px;
}
.message {
  margin-bottom: 10px;
}
.message:last-child{
  margin-bottom: 0px;
}
a.active{
  color: black;
  font-weight: bold;
}